<!doctype html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <title>http requests test tool</title>
  <style>
    .records {
      font-size: small;
    }
  </style>
</head>
<body>

<h2>Inbox {{.Inbox}}</h2>

<div>
  Time between first and last requests: <strong>{{.TimeDiff}} sec</strong><br/>
  Requests captured: <strong>{{.InboxSize}}</strong><br/>
  Link for requests: <a href="{{.URL}}">{{.URL}}</a>
</div>

<div class="records">
  {{range .Records}}
  <p><strong>{{.Number}}</strong> {{.Content}}</p>
  {{end}}
</div>

</body>
</html>
